In [27]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import plotly.express as px

# Retail Transaction Dataset Overview

## **Key Characteristics**
- **Rows**: 541,909 (each row represents a product in a transaction)
- **Columns**: 8 (details about transactions, products, customers, and locations)
- **Time Period**: Includes timestamped transactions (`InvoiceDate`), enabling temporal analysis
- **Missing Data**:
  - `Description`: ~0.27% missing
  - `CustomerID`: ~25% missing
- **Diversity**:
  - **Products**: 4,070 unique (`StockCode`)
  - **Countries**: 38 markets
  - **Customers**: 4,372 distinct (`CustomerID`, excluding missing)

---

## **Column Descriptions**
| **Column**       | **Description**                                                                 |
|-------------------|---------------------------------------------------------------------------------|
| **InvoiceNo**     | Unique identifier for each transaction.                                         |
| **StockCode**     | Unique identifier for products.                                                |
| **Description**   | Product name. Missing values suggest some products lack descriptions.          |
| **Quantity**      | Number of units sold. Negative values likely indicate returns or adjustments.  |
| **InvoiceDate**   | Date and time of the transaction.                                               |
| **UnitPrice**     | Price per unit in the transaction's currency.                                   |
| **CustomerID**    | Unique identifier for customers (missing for anonymous buyers).                |
| **Country**       | Country where the customer resides.                                            |

---

In [28]:
df = pd.read_excel('Online Retail.xlsx')

In [29]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [30]:
df.shape

(541909, 8)

In [31]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [33]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [34]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# DataPreprocessor Class

The `DataPreprocessor` class is designed to clean and transform retail transaction data. It contains several methods for handling missing values, parsing columns, and creating new derived columns.

## **Class Overview**
The class is initialized with:
- **`raw_data`**: A copy of the input dataset (`DataFrame`) to avoid modifying the original dataset.
- **`categories`**: A list of categories that the data can be classified into. Example categories include 'Grocery', 'Home Decoration', 'Appliances', 'Bag', and 'Beauty Products'.

In [35]:
categories = [
    'Grocery', 'Home Decoration',
    'Appliances', 'Bag', 'Beauty Products',
]

# DataPreprocessor Class

The `DataPreprocessor` class is designed to clean and transform retail transaction data. It contains several methods for handling missing values, parsing columns, and creating new derived columns.

## **Class Overview**
The class is initialized with:
- **`raw_data`**: A copy of the input dataset (`DataFrame`) to avoid modifying the original dataset.
- **`categories`**: A dictionary or additional parameter set for handling category-based processing (though not explicitly used in the provided methods).

---

## **Methods**

### **1. `parse_CustomerID()`**
- **Purpose**:
  - Fills missing `CustomerID` values with `0` and converts the `CustomerID` column to integers.
- **Returns**:
  - The updated `DataPreprocessor` instance with the `CustomerID` column processed.

### **2. `fill_missing_customer_id()`**
- **Purpose**:
  - Replaces missing `CustomerID` values (denoted by `0`) with unique 5-digit integers.
  - Ensures no duplicate `CustomerID` values.
- **Process**:
  - Finds the maximum current `CustomerID`, then assigns unique IDs to missing entries.
  - Prints the number of IDs changed and the newly assigned IDs.
- **Returns**:
  - The updated `DataPreprocessor` instance.

### **3. `parse_Description()`**
- **Purpose**:
  - Drops rows where the `Description` field is missing (`NaN`).
- **Returns**:
  - The cleaned dataset with no missing `Description` values.

### **4. `parse_Gender()`**
- **Purpose**:
  - Adds a new `Gender` column with the default value `'Unisex'` for all rows.
- **Returns**:
  - The updated dataset with the `Gender` column added.

### **5. `parse_UserType()`**
- **Purpose**:
  - Adds a new `UserType` column with the default value `'General'`.
- **Returns**:
  - The updated dataset with the `UserType` column added.

### **6. `parse_StockCode()`**
- **Purpose**:
  - Trims the `StockCode` to the first 5 characters.
- **Returns**:
  - The updated dataset with standardized `StockCode` values.

### **7. `parse_OrderType()`**
- **Purpose**:
  - Adds an `OrderType` column:
    - `'Delivered'` for normal orders.
    - `'Cancelled'` for orders with `InvoiceNo` starting with `'C'`.
- **Returns**:
  - The updated dataset with the `OrderType` column added.

### **8. `parse_Total()`**
- **Purpose**:
  - Adds a `Total` column, calculating the total price per transaction (`Quantity * UnitPrice`).
- **Returns**:
  - The updated dataset with the `Total` column added.

### **9. `parse_Day()`**
- **Purpose**:
  - Converts the `InvoiceDate` column to `datetime`.
  - Extracts the `DayOfWeek` (e.g., Monday, Tuesday, etc.) from `InvoiceDate`.
- **Returns**:
  - The updated dataset with the `DayOfWeek` column added.

In [36]:
class DataPreprocessor:
    def __init__(self, raw_data, categories):
        self.df = raw_data.copy()  # Work on a copy to avoid modifying the original DataFrame
        self.categories = categories

    def parse_CustomerID(self):
        self.df['CustomerID'] = self.df['CustomerID'].fillna(0).astype(int)
        return self

    def fill_missing_customer_id(self):
        """
        Fills missing CustomerID values with unique 5-digit numbers.

        Returns:
            DataPreprocessor: The updated DataPreprocessor instance.
        """
        max_customer_id = self.df['CustomerID'].max()
        next_customer_id = max_customer_id + 1
        changed_customer_ids = []
        count = 0

        for index, row in self.df.iterrows():
            if row['CustomerID'] == 0:  # Assuming missing values are already filled with 0
                while next_customer_id in self.df['CustomerID'].values:
                    next_customer_id += 1
                self.df.loc[index, 'CustomerID'] = next_customer_id
                changed_customer_ids.append(next_customer_id)
                next_customer_id += 1
                count += 1


        return self

    def parse_Description(self):
        self.df = self.df.dropna(subset=['Description']).copy()
        return self

    def parse_Gender(self):
      def assign_gender(description):
        # Convert description to lowercase for case-insensitive comparison
        description = str(description).lower()

        # Check for keywords related to each gender
        if any(keyword in description for keyword in ["men", "men's", "male", "gentlemen"]):
            return 'Men'
        elif any(keyword in description for keyword in ["women", "women's", "ladies", "female"]):
            return 'Women'
        elif any(keyword in description for keyword in ["kid", "kids", "children", "child", "boys", "girls"]):
            return 'Kids'
        else:
            return 'Unisex'

      # Apply the gender assignment function to each row in the 'Description' column
      self.df['Gender'] = self.df['Description'].apply(assign_gender)
      return self


    def parse_UserType(self):
      def identify_user_type(description):
        description = str(description).lower()
        if any(keyword in description for keyword in ["business", "office", "corporate", "professional"]):
            return 'Business'
        elif any(keyword in description for keyword in ["student", "school", "college", "education"]):
            return 'Student'
        elif any(keyword in description for keyword in ["gift", "present", "occasion", "celebration"]):
            return 'Gift Buyer'
        elif any(keyword in description for keyword in ["home", "household", "decor", "furniture"]):
            return 'Homeowner'
        else:
            return 'General'

    # Apply the identify_user_type function to the 'Description' column
      self.df['UserType'] = self.df['Description'].apply(identify_user_type)
      return self


    def parse_StockCode(self):
        self.df.loc[:, 'StockCode'] = self.df['StockCode'].astype(str).str[:5]
        return self

    def parse_OrderType(self):
        self.df.loc[:, 'OrderType'] = 'Delivered'
        self.df.loc[self.df['InvoiceNo'].astype(str).str.startswith('C'), 'OrderType'] = 'Cancelled'
        return self

    def parse_Total(self):
        self.df.loc[:, 'Total'] = self.df['Quantity'] * self.df['UnitPrice']
        return self

    def parse_Day(self):
        self.df.loc[:, 'InvoiceDate'] = pd.to_datetime(self.df['InvoiceDate'])
        self.df.loc[:, 'DayOfWeek'] = self.df['InvoiceDate'].dt.day_name()
        return self

# DataQuerier Class

The `DataQuerier` class is designed to perform filtering operations on processed retail transaction data. It allows you to query the data based on various attributes such as gender, order status, total amount, country, day of the week, and user type.

## **Class Overview**
The class is initialized with:
- **`filtered_data`**: A pre-processed dataset (usually after cleaning and transformations) that the class will use to perform queries.

---

## **Methods**

### **1. `by_gender(gender)`**
- **Purpose**:
  - Filters the dataset by a specific gender.
- **Arguments**:
  - `gender` (str): The gender to filter by (e.g., `'Men'`, `'Women'`, `'Unisex'`).
- **Returns**:
  - A filtered `DataFrame` containing only the rows that match the specified gender.

### **2. `by_cancellation()`**
- **Purpose**:
  - Filters the dataset to show only cancelled orders.
- **Returns**:
  - A filtered `DataFrame` containing only the cancelled orders (i.e., orders with `OrderType` as `'Cancelled'`).

### **3. `by_total_above(threshold)`**
- **Purpose**:
  - Filters the dataset to show orders with a total amount greater than a specified threshold.
- **Arguments**:
  - `threshold` (float): The minimum total amount for the filter.
- **Returns**:
  - A filtered `DataFrame` containing only orders where the total amount exceeds the specified threshold.

### **4. `by_country(country)`**
- **Purpose**:
  - Filters the dataset by a specific country.
- **Arguments**:
  - `country` (str): The country to filter by (e.g., `'United Kingdom'`).
- **Returns**:
  - A filtered `DataFrame` containing only the orders from the specified country.

### **5. `by_day_of_week(day)`**
- **Purpose**:
  - Filters the dataset by a specific day of the week.
- **Arguments**:
  - `day` (str): The day of the week to filter by (e.g., `'Monday'`, `'Tuesday'`).
- **Returns**:
  - A filtered `DataFrame` containing only the orders from the specified day of the week.

### **6. `by_user_type(user_type)`**
- **Purpose**:
  - Filters the dataset by user type.
- **Arguments**:
  - `user_type` (str): The user type to filter by (e.g., `'Business'`, `'Student'`).
- **Returns**:
  - A filtered `DataFrame` containing only the rows that match the specified user type.

---

In [37]:
class DataQuerier:
    def __init__(self, filtered_data):
        """
        Initializes the DataQuerier with filtered data.

        Args:
            filtered_data (pd.DataFrame): The processed data.
        """
        self.df = filtered_data

    def by_gender(self, gender):
        """
        Filters the data by a specific gender.

        Args:
            gender (str): The gender to filter by (e.g., 'Men', 'Women', 'Unisex').

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['Gender'] == gender]
        print(f"Filtered by Gender = {gender}:\n{filtered.head()}")
        return filtered

    def by_cancellation(self):
        """
        Filters the data to show only cancelled orders.

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['OrderType'] == 'Cancelled']
        print(f"Filtered Cancelled Orders:\n{filtered.head()}")
        return filtered

    def by_total_above(self, threshold):
        """
        Filters the data to show orders with a total above a specific threshold.

        Args:
            threshold (float): The minimum total value.

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['Total'] > threshold]
        print(f"Filtered by Total > {threshold}:\n{filtered.head()}")
        return filtered

    def by_country(self, country):
        """
        Filters the data by country.

        Args:
            country (str): The country to filter by.

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['Country'] == country]
        print(f"Filtered by Country = {country}:\n{filtered.head()}")
        return filtered

    def by_day_of_week(self, day):
        """
        Filters the data by a specific day of the week.

        Args:
            day (str): The day of the week (e.g., 'Monday', 'Tuesday').

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['DayOfWeek'] == day]
        print(f"Filtered by DayOfWeek = {day}:\n{filtered.head()}")
        return filtered

    def by_user_type(self, user_type):
        """
        Filters the data by user type.

        Args:
            user_type (str): The user type to filter by (e.g., 'Business', 'Student').

        Returns:
            pd.DataFrame: Filtered data.
        """
        filtered = self.df[self.df['UserType'] == user_type]
        print(f"Filtered by UserType = {user_type}:\n{filtered.head()}")
        return filtered

# ConsumerTransactionDB Class

The `ConsumerTransactionDB` class is designed to handle the preprocessing of consumer transaction data, apply transformations, and perform queries on the processed data. It leverages the `DataPreprocessor` for cleaning and transforming the data, and the `DataQuerier` for executing queries on the processed dataset.

## **Class Overview**
The class is initialized with:
- **`raw_data`**: The raw input data (typically a pandas `DataFrame`).
- **`categories`**: A list of predefined categories to be used for clustering the descriptions of the products.

The `ConsumerTransactionDB` class encapsulates both preprocessing and querying functionalities, making it easier to process and retrieve insights from the data.

---

## **Methods**

### **1. `__init__(self, raw_data, categories)`**
- **Purpose**:
  - Initializes the `ConsumerTransactionDB` instance with raw data and categories.
- **Arguments**:
  - `raw_data` (pd.DataFrame): The raw input dataset.
  - `categories` (list): A list of predefined categories for description clustering.

### **2. `preprocess(self)`**
- **Purpose**:
  - Preprocesses the raw data using the `DataPreprocessor` class. This method applies various transformations and cleaning operations to prepare the data for further analysis.
- **Returns**:
  - The `ConsumerTransactionDB` instance with processed data and a `DataQuerier` instance initialized for querying.

### **3. `query(self, method_name, *args, **kwargs)`**
- **Purpose**:
  - Executes a query method from the `DataQuerier` class on the processed data.
- **Arguments**:
  - `method_name` (str): The name of the query method to be invoked (e.g., `'by_gender'`, `'by_total_above'`).
  - `*args`: Positional arguments for the query method.
  - `**kwargs`: Keyword arguments for the query method.
- **Returns**:
  - The result of the query method, which is a filtered `pd.DataFrame`.
- **Raises**:
  - `ValueError` if data has not been preprocessed.
  - `AttributeError` if the specified query method does not exist in `DataQuerier`.

### **4. `get_processed_data(self)`**
- **Purpose**:
  - Returns the processed data after preprocessing.
- **Returns**:
  - The processed `pd.DataFrame`.
- **Raises**:
  - `ValueError` if the data has not been processed yet.

In [38]:
class ConsumerTransactionDB:
    def __init__(self, raw_data, categories):
        """
        Initializes the ConsumerTransactionDB with raw data and predefined categories.

        Args:
            raw_data (pd.DataFrame): The raw input data.
            categories (list): List of predefined categories for description clustering.
        """
        self.raw_data = raw_data
        self.categories = categories
        self.preprocessor = DataPreprocessor(self.raw_data, self.categories)
        self.processed_data = None
        self.querier = None

    def preprocess(self):
        """
        Preprocesses the raw data using the DataPreprocessor.
        """
        self.processed_data = (
            self.preprocessor
                .parse_Description()
                .parse_CustomerID()
                .fill_missing_customer_id()
                .parse_Gender()
                .parse_UserType()
                .parse_StockCode()
                .parse_OrderType()
                .parse_Total()
                .parse_Day()
                .df
        )
        self.querier = DataQuerier(self.processed_data)  # Initialize DataQuerier with processed data
        print("Data preprocessing complete.")
        return self

    def query(self, method_name, *args, **kwargs):
        """
        Performs a query on the processed data using the DataQuerier.

        Args:
            method_name (str): The name of the query method to invoke.
            *args: Positional arguments for the query method.
            **kwargs: Keyword arguments for the query method.

        Returns:
            pd.DataFrame: The result of the query.
        """
        if not self.querier:
            raise ValueError("Data must be preprocessed before querying.")
        if not hasattr(self.querier, method_name):
            raise AttributeError(f"Query method '{method_name}' does not exist.")
        return getattr(self.querier, method_name)(*args, **kwargs)

    def get_processed_data(self):
        """
        Returns the processed data.

        Returns:
            pd.DataFrame: The processed DataFrame.
        """
        if self.processed_data is None:
            raise ValueError("Data has not been processed yet.")
        return self.processed_data

In [39]:
# Assuming `df` is your raw data and `categories` is a predefined list of categories.
categories = ['Grocery', 'Home Decoration', 'Appliances', 'Bag', 'Beauty Products']

# Initialize ConsumerTransactionDB
transaction_db = ConsumerTransactionDB(df, categories)

# Preprocess the data
transaction_db.preprocess()

# Access processed data
processed_data = transaction_db.get_processed_data()
print(processed_data.head())

# Perform queries
gender_filtered = transaction_db.query('by_gender', 'Unisex')
print(gender_filtered.head())

cancelled_orders = transaction_db.query('by_cancellation')
print(cancelled_orders.head())

high_value_orders = transaction_db.query('by_total_above', 50)
print(high_value_orders.head())

uk_orders = transaction_db.query('by_country', 'United Kingdom')
print(uk_orders.head())

monday_orders = transaction_db.query('by_day_of_week', 'Monday')
print(monday_orders.head())

business_users = transaction_db.query('by_user_type', 'Business')
print(business_users.head())

Data preprocessing complete.
  InvoiceNo StockCode                          Description  Quantity  \
0    536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Gender UserType  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  Unisex  General
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  Unisex  General
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General

   OrderType  Total  DayOfWeek
0  Delivered  15.30  Wednesday
1  Delivered  20.34  Wednesday
2  Delivered  22.00  Wednesday
3  Delivered  20.34  Wednesday
4  Delivered  20.34  Wednesday
Filtered by Gender = Unisex:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Gender UserType  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  Unisex  General
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  Unisex  General
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General

   OrderType  Total  DayOfWeek
0  Delivered  15.30  Wednesday
1  Delivered  20.34  Wednesday
2  Delivered  22.00  Wednesday
3  Delivered  20.34  Wednesday
4  Delivered  20.34  Wednesday
  InvoiceNo StockCode                          Description  Quantity  \
0    536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Gender UserType  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  Unisex  General
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  Unisex  General
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General

   OrderType  Total  DayOfWeek
0  Delivered  15.30  Wednesday
1  Delivered  20.34  Wednesday
2  Delivered  22.00  Wednesday
3  Delivered  20.34  Wednesday
4  Delivered  20.34  Wednesday
Filtered Cancelled Orders:
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383     35004   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

            InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
141 2010-12-01 09:41:00      27.50       14527  United Kingdom  Unisex
154 2010-12-01 09:49:00       4.65       15311  United Kingdom  Unisex
235 2010-12-01 10:24:00       1.65       17548  United Kingdom  Unisex
236 2010-12-01 10:24:00       0.29       17548  United Kingdom  Unisex
237 2010-12-01 10:24:00       0.29       17548  United Kingdom  Unisex

    UserType  OrderType  Total  DayOfWeek
141  General  Cancelled -27.50  Wednesday
154  General  Cancelled  -4.65  Wednesday
235  General  Cancelled -19.80  Wednesday
236  General  Cancelled  -6.96  Wednesday
237  General  Cancelled  -6.96  Wednesday
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383     35004   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

            InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
141 2010-12-01 09:41:00      27.50       14527  United Kingdom  Unisex
154 2010-12-01 09:49:00       4.65       15311  United Kingdom  Unisex
235 2010-12-01 10:24:00       1.65       17548  United Kingdom  Unisex
236 2010-12-01 10:24:00       0.29       17548  United Kingdom  Unisex
237 2010-12-01 10:24:00       0.29       17548  United Kingdom  Unisex

    UserType  OrderType  Total  DayOfWeek
141  General  Cancelled -27.50  Wednesday
154  General  Cancelled  -4.65  Wednesday
235  General  Cancelled -19.80  Wednesday
236  General  Cancelled  -6.96  Wednesday
237  General  Cancelled  -6.96  Wednesday
Filtered by Total > 50:
   InvoiceNo StockCode                          Description  Quantity  \
9     536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32
26    536370     22728            ALARM CLOCK BAKELIKE PINK        24
27    536370     22727            ALARM CLOCK BAKELIKE RED         24
33    536370     21035      SET/2 RED RETROSPOT TEA TOWELS         18
34    536370     22326  ROUND SNACK BOXES SET OF4 WOODLAND         24

           InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
9  2010-12-01 08:34:00       1.69       13047  United Kingdom     Men
26 2010-12-01 08:45:00       3.75       12583          France  Unisex
27 2010-12-01 08:45:00       3.75       12583          France  Unisex
33 2010-12-01 08:45:00       2.95       12583          France  Unisex
34 2010-12-01 08:45:00       2.95       12583          France  Unisex

   UserType  OrderType  Total  DayOfWeek
9   General  Delivered  54.08  Wednesday
26  General  Delivered  90.00  Wednesday
27  General  Delivered  90.00  Wednesday
33  General  Delivered  53.10  Wednesday
34  General  Delivered  70.80  Wednesday
   InvoiceNo StockCode                          Description  Quantity  \
9     536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32
26    536370     22728            ALARM CLOCK BAKELIKE PINK        24
27    536370     22727            ALARM CLOCK BAKELIKE RED         24
33    536370     21035      SET/2 RED RETROSPOT TEA TOWELS         18
34    536370     22326  ROUND SNACK BOXES SET OF4 WOODLAND         24

           InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
9  2010-12-01 08:34:00       1.69       13047  United Kingdom     Men
26 2010-12-01 08:45:00       3.75       12583          France  Unisex
27 2010-12-01 08:45:00       3.75       12583          France  Unisex
33 2010-12-01 08:45:00       2.95       12583          France  Unisex
34 2010-12-01 08:45:00       2.95       12583          France  Unisex

   UserType  OrderType  Total  DayOfWeek
9   General  Delivered  54.08  Wednesday
26  General  Delivered  90.00  Wednesday
27  General  Delivered  90.00  Wednesday
33  General  Delivered  53.10  Wednesday
34  General  Delivered  70.80  Wednesday
Filtered by Country = United Kingdom:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Gender UserType  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  Unisex  General
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  Unisex  General
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General

   OrderType  Total  DayOfWeek
0  Delivered  15.30  Wednesday
1  Delivered  20.34  Wednesday
2  Delivered  22.00  Wednesday
3  Delivered  20.34  Wednesday
4  Delivered  20.34  Wednesday
  InvoiceNo StockCode                          Description  Quantity  \
0    536365     85123   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365     84406       CREAM CUPID HEARTS COAT HANGER         8
3    536365     84029  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365     84029       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Gender UserType  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom  Unisex  General
1 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
2 2010-12-01 08:26:00       2.75       17850  United Kingdom  Unisex  General
3 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General
4 2010-12-01 08:26:00       3.39       17850  United Kingdom  Unisex  General

   OrderType  Total  DayOfWeek
0  Delivered  15.30  Wednesday
1  Delivered  20.34  Wednesday
2  Delivered  22.00  Wednesday
3  Delivered  20.34  Wednesday
4  Delivered  20.34  Wednesday
Filtered by DayOfWeek = Monday:
      InvoiceNo StockCode                     Description  Quantity  \
10144    537226     22811        SET OF 6 T-LIGHTS CACTI          6
10145    537226     21713     CITRONELLA CANDLE FLOWERPOT         8
10146    537226     22927  GREEN GIANT GARDEN THERMOMETER         2
10147    537226     20802   SMALL GLASS SUNDAE DISH CLEAR         6
10148    537226     22052       VINTAGE CARAVAN GIFT WRAP        25

              InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
10144 2010-12-06 08:34:00       2.95       15987  United Kingdom  Unisex
10145 2010-12-06 08:34:00       2.10       15987  United Kingdom  Unisex
10146 2010-12-06 08:34:00       5.95       15987  United Kingdom  Unisex
10147 2010-12-06 08:34:00       1.65       15987  United Kingdom  Unisex
10148 2010-12-06 08:34:00       0.42       15987  United Kingdom  Unisex

         UserType  OrderType  Total DayOfWeek
10144     General  Delivered   17.7    Monday
10145     General  Delivered   16.8    Monday
10146     General  Delivered   11.9    Monday
10147     General  Delivered    9.9    Monday
10148  Gift Buyer  Delivered   10.5    Monday
      InvoiceNo StockCode                     Description  Quantity  \
10144    537226     22811        SET OF 6 T-LIGHTS CACTI          6
10145    537226     21713     CITRONELLA CANDLE FLOWERPOT         8
10146    537226     22927  GREEN GIANT GARDEN THERMOMETER         2
10147    537226     20802   SMALL GLASS SUNDAE DISH CLEAR         6
10148    537226     22052       VINTAGE CARAVAN GIFT WRAP        25

              InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
10144 2010-12-06 08:34:00       2.95       15987  United Kingdom  Unisex
10145 2010-12-06 08:34:00       2.10       15987  United Kingdom  Unisex
10146 2010-12-06 08:34:00       5.95       15987  United Kingdom  Unisex
10147 2010-12-06 08:34:00       1.65       15987  United Kingdom  Unisex
10148 2010-12-06 08:34:00       0.42       15987  United Kingdom  Unisex

         UserType  OrderType  Total DayOfWeek
10144     General  Delivered   17.7    Monday
10145     General  Delivered   16.8    Monday
10146     General  Delivered   11.9    Monday
10147     General  Delivered    9.9    Monday
10148  Gift Buyer  Delivered   10.5    Monday
Filtered by UserType = Business:
     InvoiceNo StockCode                      Description  Quantity  \
863     536464     22312       OFFICE MUG WARMER POLKADOT         1
1331    536535     22311  OFFICE MUG WARMER BLACK+SILVER          6
1550    536544     22314      OFFICE MUG WARMER CHOC+BLUE         1
2153    536562     22313           OFFICE MUG WARMER PINK         6
2154    536562     22314      OFFICE MUG WARMER CHOC+BLUE         6

             InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
863  2010-12-01 12:23:00       2.95       17968  United Kingdom  Unisex
1331 2010-12-01 13:38:00       2.95       15605  United Kingdom  Unisex
1550 2010-12-01 14:32:00       5.91       18395  United Kingdom  Unisex
2153 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex
2154 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex

      UserType  OrderType  Total  DayOfWeek
863   Business  Delivered   2.95  Wednesday
1331  Business  Delivered  17.70  Wednesday
1550  Business  Delivered   5.91  Wednesday
2153  Business  Delivered  17.70  Wednesday
2154  Business  Delivered  17.70  Wednesday
     InvoiceNo StockCode                      Description  Quantity  \
863     536464     22312       OFFICE MUG WARMER POLKADOT         1
1331    536535     22311  OFFICE MUG WARMER BLACK+SILVER          6
1550    536544     22314      OFFICE MUG WARMER CHOC+BLUE         1
2153    536562     22313           OFFICE MUG WARMER PINK         6
2154    536562     22314      OFFICE MUG WARMER CHOC+BLUE         6

             InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
863  2010-12-01 12:23:00       2.95       17968  United Kingdom  Unisex
1331 2010-12-01 13:38:00       2.95       15605  United Kingdom  Unisex
1550 2010-12-01 14:32:00       5.91       18395  United Kingdom  Unisex
2153 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex
2154 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex

      UserType  OrderType  Total  DayOfWeek
863   Business  Delivered   2.95  Wednesday
1331  Business  Delivered  17.70  Wednesday
1550  Business  Delivered   5.91  Wednesday
2153  Business  Delivered  17.70  Wednesday
2154  Business  Delivered  17.70  Wednesday

In [40]:
business_users = transaction_db.query('by_user_type', 'Business')
print(business_users.head())

Filtered by UserType = Business:
     InvoiceNo StockCode                      Description  Quantity  \
863     536464     22312       OFFICE MUG WARMER POLKADOT         1
1331    536535     22311  OFFICE MUG WARMER BLACK+SILVER          6
1550    536544     22314      OFFICE MUG WARMER CHOC+BLUE         1
2153    536562     22313           OFFICE MUG WARMER PINK         6
2154    536562     22314      OFFICE MUG WARMER CHOC+BLUE         6

             InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
863  2010-12-01 12:23:00       2.95       17968  United Kingdom  Unisex
1331 2010-12-01 13:38:00       2.95       15605  United Kingdom  Unisex
1550 2010-12-01 14:32:00       5.91       18395  United Kingdom  Unisex
2153 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex
2154 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex

      UserType  OrderType  Total  DayOfWeek
863   Business  Delivered   2.95  Wednesday
1331  Business  Delivered  17.70  Wednesday
1550  Business  Delivered   5.91  Wednesday
2153  Business  Delivered  17.70  Wednesday
2154  Business  Delivered  17.70  Wednesday
     InvoiceNo StockCode                      Description  Quantity  \
863     536464     22312       OFFICE MUG WARMER POLKADOT         1
1331    536535     22311  OFFICE MUG WARMER BLACK+SILVER          6
1550    536544     22314      OFFICE MUG WARMER CHOC+BLUE         1
2153    536562     22313           OFFICE MUG WARMER PINK         6
2154    536562     22314      OFFICE MUG WARMER CHOC+BLUE         6

             InvoiceDate  UnitPrice  CustomerID         Country  Gender  \
863  2010-12-01 12:23:00       2.95       17968  United Kingdom  Unisex
1331 2010-12-01 13:38:00       2.95       15605  United Kingdom  Unisex
1550 2010-12-01 14:32:00       5.91       18395  United Kingdom  Unisex
2153 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex
2154 2010-12-01 15:08:00       2.95       13468  United Kingdom  Unisex

      UserType  OrderType  Total  DayOfWeek
863   Business  Delivered   2.95  Wednesday
1331  Business  Delivered  17.70  Wednesday
1550  Business  Delivered   5.91  Wednesday
2153  Business  Delivered  17.70  Wednesday
2154  Business  Delivered  17.70  Wednesday

In [41]:

processed_data.head(4)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Gender,UserType,OrderType,Total,DayOfWeek
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,Unisex,General,Delivered,15.30,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,Unisex,General,Delivered,20.34,Wednesday
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,Unisex,General,Delivered,22.00,Wednesday
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,Unisex,General,Delivered,20.34,Wednesday

# Conert to csv file

In [42]:


processed_data.to_csv('processed_data.csv', index=False)